@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@media (max-width: 500px) {
  /* mediaglobal*/
  .ocultar {
    display: none;
  }
  h1 {
    width: 480px;
  }
  .p-de-banner {
    width: 480px;
  }
  .boton__descarga {
    display: none;
  }
  .texto-agrd {
    display: none;
  }
  .text {
    display: grid;
    width: 200px;
  }
  /* responsive section3  */
  .contenedor-3 {
    width: 100%;
  }
  .contenedor-3 .lorem__box1 {
    display: none;
  }
  .contenedor-3 .box__2 a, .contenedor-3 .box__3 a {
    display: none;
  }
  .contenedor-3 .box__2 h3, .contenedor-3 .box__3 h3 {
    display: none;
  }
  .contenedor-3 .footer-text {
    width: 100%;
  }
  .contenedor-3 footer {
    display: grid;
    padding: 20px;
  }
  .contenedor-3 .pie {
    text-align: center;
  }
  .contenedor-3 .texto__ocultMobile {
    display: none;
  }
  .pie {
    text-align: center;
  }
  .texto__ocultMobile {
    display: none;
  }
  /* responsive tienda */
  .card {
    display: grid;
    grid-template-columns: 1fr;
    width: 300px;
  }
  .cardAkali {
    display: none;
  }
  .cardDraven {
    display: none;
  }
  .espacio {
    width: 300px;
    height: 50px;
  }
  /* contacto responsive */
  .titulo {
    margin-left: 0px;
    height: 100%;
    width: 100vh;
  }
  .contactForm {
    margin-left: 0px;
    width: 100%;
    height: 100%;
    place-items: center;
  }
  .text-formulairo {
    margin-left: 0px;
    width: 100%;
    height: 100%;
  }
  form {
    width: 30%;
    height: 100%;
  }
  .p-form {
    display: none;
  }
  .h2-form {
    width: 100%;
  }
}
@media (max-width: 786px) {
  .ocultar {
    display: none;
  }
  h1 {
    width: 480px;
  }
  .p-de-banner {
    width: 480px;
  }
  .boton__descarga {
    display: none;
  }
  .texto-agrd {
    display: none;
  }
  .text {
    display: grid;
    width: 200px;
  }
  /* responsive section3  */
  .contenedor-3 {
    width: 100%;
  }
  .contenedor-3 .lorem__box1 {
    display: none;
  }
  .contenedor-3 .footer-text {
    width: 100%;
  }
  .contenedor-3 footer {
    display: grid;
    padding: 20px;
  }
  .contenedor-3 .pie {
    text-align: center;
  }
  .contenedor-3 .texto__ocultMobile {
    display: none;
  }
  .pie {
    text-align: center;
  }
  .texto__ocultMobile {
    display: none;
  }
  /* responsive tienda */
  .card {
    display: grid;
    grid-template-columns: 1fr;
    width: 300px;
  }
  .cardAkali {
    display: none;
  }
  .cardDraven {
    display: none;
  }
  /* contacto responsive */
  .titulo {
    margin-left: 0px;
    width: 100vh;
    height: 100%;
  }
  .contactForm {
    margin-left: 0px;
    width: 100%;
    height: 100%;
    place-items: center;
  }
  .text-formulairo {
    margin-left: 0px;
    width: 100%;
    height: 100%;
  }
  form {
    width: 30%;
    height: 100%;
  }
  .h2-form {
    width: 100%;
  }
}
/* Header universal (todos los html) */
body {
  /* index */
  /* ajustes de imagenes de tienda e index */
  /* decoracion contenedor 2 index  */
  /* footer universal (todos los html) */
  /* tienda */
  /* INFO ITEMS */
  /* FORMULARIO PAGINA DE CONTACTO
   */
}
body header nav {
  color: #1766a3;
}
body header nav .navbar-nav {
  text-decoration: none;
  transition: 2s;
  overflow: auto;
}
body header nav .navbar-nav:hover {
  margin: 0 250px;
  background-color: white;
  border-radius: 40px;
}
body header nav .nav-link {
  font-size: 20px;
  margin: 0 25px;
  transition: 1s;
}
body header nav .nav-link:hover {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(45deg, red, blue, deeppink, blue, red, blue, deeppink, blue);
  background-size: 800%;
  border-radius: 40px;
  animation: glowing 20s linear infinite;
}
body .banner1 {
  background-image: url(https://cl.buscafs.com/www.levelup.com/public/uploads/images/467487.jpg);
  border-radius: 10px;
  border: 2px solid black;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: start;
  align-items: center;
}
body .banner1 .banner__textos1 {
  color: grey;
  position: relative;
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}
body .texto__ocultMobile {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
}
body .banner {
  background-image: url(https://cl.buscafs.com/www.levelup.com/public/uploads/images/467487.jpg);
  border-radius: 10px;
  border: 2px solid black;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: start;
  align-items: center;
}
body .banner .banner__textos {
  color: grey;
  font-family: "Roboto Mono", monospace;
  position: relative;
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}
body .banner .p-de-banner {
  font-family: "Lora", serif;
}
body .banner h1 {
  font-size: 60px;
}
body .banner .banner__textos p {
  font-size: 36px;
  margin: 20px 0 30px 0;
}
body .banner .boton__descarga {
  background-color: black;
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  border-radius: 10px;
  width: 50%;
  text-align: center;
  text-decoration: none;
  transition: 2s;
}
body .banner .boton__descarga:hover {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(45deg, red, blue, deeppink, blue, red, blue, deeppink, blue);
  background-size: 800%;
  border-radius: 50px;
  animation: glowing 20s linear infinite;
}
body .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .text .text h2 {
  font-size: 36px;
}
body .text .text p {
  margin: 40px;
  font-size: 20px;
}
body .col {
  justify-content: center;
  width: 25%;
  margin: 0 50px;
  padding: 50px 0;
}
body .contenedor-2 {
  background: linear-gradient(170deg, #0f3443, #34e69f);
}
body .contenedor-3 {
  background-color: #222222;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
body .contenedor-3 .footer-text {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .contenedor-3 .box1 {
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}
body .contenedor-3 .box__2, body .contenedor-3 .box__3, body .contenedor-3 .box4 {
  width: 20%;
  height: 50%;
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}
body .contenedor-3 .box1 h3, body .contenedor-3 .box__2 h3, body .contenedor-3 .box__3 h3, body .contenedor-3 .box4 h3 {
  font-size: 28px;
  margin: 25px 0;
}
body .contenedor-3 .box1 p {
  font-size: 20px;
}
body .contenedor-3 .box__2 a, body .contenedor-3 .box__3 a, body .contenedor-3 .box4 a {
  text-decoration: none;
  color: #fff;
  margin: 5px 0;
  font-size: 20px;
}
body .contenedor-3 .rs {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin: 25px 0;
}
body .contenedor-3 .rs img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 85%;
  margin-right: 15px;
}
body .contenedor-3 .pie {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #3c3c3c;
}
body .contenedor-3 .pie p {
  font-size: 18px;
}
body .contenedor-3 .pie a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
body .tienda {
  border: black 2px solid;
  background: linear-gradient(170deg, #0f3443, #34e69f);
}
body .tienda .introTienda {
  text-align: center;
}
body .cartas {
  padding: 0 25px;
}
body .sp {
  background: linear-gradient(170deg, #8c366c, #6f64e7);
  padding: 15px;
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 24px;
  color: #fff;
  border-radius: 40px;
}
body .espacio {
  height: 50px;
}
body .espacio2 {
  height: 20px;
}
body .titulo {
  position: relative;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  /* input y text focus */
}
body .titulo .contactForm {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr 1fr));
  gap: 20px;
  padding: 0 30px;
  width: 90%;
  height: 100%;
  background: linear-gradient(170deg, #0f3443, #34e69f);
  box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59);
  border-radius: 30px;
}
body .titulo .text-formulairo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 85%;
  margin-left: 30px;
}
body .titulo form {
  width: 80%;
  height: 100%;
}
body .titulo .texto-contacto {
  color: black;
  margin-bottom: 20px;
}
body .titulo .h2-form {
  color: black;
  font-size: 2em;
  margin-bottom: 10px;
}
body .titulo .p-form {
  color: black;
  line-height: 1.5;
}
body .titulo .inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
body .titulo label {
  color: black;
  font-weight: 700;
}
body .titulo input[type=text] {
  border: none;
  background: #cbebfb;
  padding: 10px;
  border-radius: 15px;
  color: #1766a3;
}
body .titulo input[type=Email] {
  border: none;
  background: #cbebfb;
  padding: 10px;
  border-radius: 15px;
  color: #1766a3;
}
body .titulo textarea {
  border: none;
  background: #cbebfb;
  padding: 10px;
  border-radius: 15px;
  color: #1766a3;
  resize: none;
}
body .titulo input[type=text]:focus {
  outline: 2px solid #1766a3;
}
body .titulo input[type=Email]:focus {
  outline: 2px solid #1766a3;
}
body .titulo textarea:focus {
  outline: 2px solid #1766a3;
}
body .titulo input[type=submit] {
  background: #1766a3;
  display: inline-block;
  text-align: center;
  width: 250px;
  padding: 10px;
  border-radius: 15px;
  color: #fff;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
  box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59);
  transition: 0.3s;
}
body .titulo input[type=submit]:hover {
  background: #1766a3;
  color: #0b426c;
}
body .titulo .info-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .titulo .imagen-box {
  position: relative;
  width: 350px;
  height: 350px;
}
body .titulo img {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=main.css.map */